  @keyframes animate-in {
    from {
      opacity: 0;
      transform: translateY(1rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .link {
    text-decoration: none;
  }

  .link * {
    text-decoration: none;
  }